<dialog id="transfer-leader-modal" class="warplan-modal confirm-modal">
  <div class="modal-panel">
    <div class="modal-header">
      <div>
        <span class="slot-label">Transfer Leader</span>
        <h2>Make this player leader?</h2>
      </div>
      <button class="button-icon modal-close" type="button" data-cancel-transfer-leader aria-label="Close" title="Close">
        <svg class="button-svg" aria-hidden="true">
          <use href="#icon-x"></use>
        </svg>
      </button>
    </div>
    <p class="modal-copy">
      <span data-transfer-leader-name>This player</span> will be able to remove party members and transfer leadership.
    </p>
    <div class="action-row modal-actions">
      <button class="button-primary" type="button" data-confirm-transfer-leader-submit>Make Leader</button>
      <button class="button-secondary" type="button" data-cancel-transfer-leader>Cancel</button>
    </div>
  </div>
</dialog>
